<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .footer {
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #ff9f9f; /* Light pastel red */
            color: #343a40; /* Darker text for contrast */
            text-align: center;
            height: 50px;
            padding: 10px 0; /* Add some padding for better spacing */
            font-family: 'Josefin Sans', sans-serif; /* Use a nice font */
        }
    </style>
</head>
<body>

<div class="footer">
    <p>Blood Donation Project<br>
    Made in Philippines &copy; 2024</p>
</div>

</body>
</html>
